<div class="new-group">

  <div class="back-link">
    <%= link_to "Back", group_entities_path %>
  </div>
  <h1>New Transaction</h1>

</div>
<div class="form-render">
  <%= render "form", entity: @entity %>
</div>
